@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  
  --color-background: oklch(from var(--background) l c h);
  --color-foreground: oklch(from var(--foreground) l c h);
  --color-card: oklch(from var(--card) l c h);
  --color-card-foreground: oklch(from var(--card-foreground) l c h);
  --color-popover: oklch(from var(--popover) l c h);
  --color-popover-foreground: oklch(from var(--popover-foreground) l c h);
  --color-primary: oklch(from var(--primary) l c h);
  --color-primary-foreground: oklch(from var(--primary-foreground) l c h);
  --color-secondary: oklch(from var(--secondary) l c h);
  --color-secondary-foreground: oklch(from var(--secondary-foreground) l c h);
  --color-muted: oklch(from var(--muted) l c h);
  --color-muted-foreground: oklch(from var(--muted-foreground) l c h);
  --color-accent: oklch(from var(--accent) l c h);
  --color-accent-foreground: oklch(from var(--accent-foreground) l c h);
  --color-destructive: oklch(from var(--destructive) l c h);
  --color-border: oklch(from var(--border) l c h / alpha);
  --color-input: oklch(from var(--input) l c h / alpha);
  --color-ring: oklch(from var(--ring) l c h);
  --color-chart-1: oklch(from var(--chart-1) l c h);
  --color-chart-2: oklch(from var(--chart-2) l c h);
  --color-chart-3: oklch(from var(--chart-3) l c h);
  --color-chart-4: oklch(from var(--chart-4) l c h);
  --color-chart-5: oklch(from var(--chart-5) l c h);
  --color-sidebar: oklch(from var(--sidebar) l c h);
  --color-sidebar-foreground: oklch(from var(--sidebar-foreground) l c h);
  --color-sidebar-primary: oklch(from var(--sidebar-primary) l c h);
  --color-sidebar-primary-foreground: oklch(from var(--sidebar-primary-foreground) l c h);
  --color-sidebar-accent: oklch(from var(--sidebar-accent) l c h);
  --color-sidebar-accent-foreground: oklch(from var(--sidebar-accent-foreground) l c h);
  --color-sidebar-border: oklch(from var(--sidebar-border) l c h / alpha);
  --color-sidebar-ring: oklch(from var(--sidebar-ring) l c h);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
